<!-- character card -->
<div class="card">
    
    <ng-container *ngIf="character != null">
        <img src="{{character.image}}" alt="img">
        
    
        <p>{{character.name}}</p>
        <p>{{character.status}} - {{character.species}}</p>
        <p>{{character.gender}}</p>
        
        <p>Last know location:
            {{character.origin['name']}}
        </p>
        
        <p>First seen in:
            {{character.location['name']}}
        </p>
    </ng-container>

</div>
